.popup {
	position: fixed;
	padding: 40px 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $whiteColor;
	z-index: 70;
	overflow: auto;
	transition: visibility 0.5s ease 0s, opacity 0.5s ease 0s;
	visibility: hidden;
	opacity: 0;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__content {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-bottom: 50px;
	}

	&__title {
		text-align: center;
	}

	&__text {
		max-width: 400px;
		font-size: 21px;
		line-height: calc(25 / 20 * 100%);
		margin-right: 30px;
	}

	&__img {
		width: 350px;
		object-fit: cover;
	}

	&__close {
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 75;
		width: 45px;
		height: 30px;
		cursor: pointer;
	}

	&__close-elem {
		position: absolute;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 5px;
		background-color: $mainColor;
	}

	&__close-elem:first-child {
		top: 0;
		top: 50%;
		transform: rotate(-30deg) translateY(-50%);
	}

	&__close-elem:last-child {
		bottom: 0;
		bottom: 50%;
		transform: rotate(30deg) translateY(50%);
	}
}

.popup.active {
	visibility: visible;
	opacity: 1;
}
