.programs {
	padding: 70px 0 80px;
	background-image: url("../img/bg/program-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner {
		position: relative;
	}

	&__title {
		text-align: center;
		margin-bottom: 100px;
	}
}

.program-slider {
	padding: 25px;
	margin-right: -25px;
	margin-left: -25px;

	&__slide {
		background-color: $whiteColor;
		position: relative;
		margin-bottom: 30px;
		height: auto;
		box-shadow: 10px 10px 20px 0px rgba(12, 13, 12, 0.1);
	}

	&__link {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	&__content {
		padding: 20px 15px 30px;
		text-align: center;
	}

	&__title {
		margin: 0;
		margin-bottom: 15px;
		font-size: 30px;
		line-height: calc(40 / 30 * 100%);
		font-family: "OpenSans-Bold", sans-serif;
	}

	&__descr {
		font-size: 17px;
		line-height: calc(25 / 17 * 100%);
		margin: 0;
	}

	&__pagination {
		bottom: -20px;
		left: 0;
		right: 0;

		span {
			width: 15px;
			height: 15px;
			opacity: 1;
			background-color: $grayColor;
		}

		span + span {
			margin-left: 20px;
		}

		span.swiper-pagination-bullet-active {
			background-color: $pinkColor;
			border: 5px double $pinkColorHover;
		}
	}
}
