//container
$maxWidthContainer: 1254px + 30px;

//Color
$whiteColor: #fff;
$mainColor: #484f5b;
$mainColorHover: #2d3139;
$pinkColor: #e5ccc6;
$pinkColorHover: #dba9a1;
$grayColor: #e9e8e6;
$grayFormColor: #efefef;
$darkGrayFormColor: #b0b0b0;